#posts {
    width: 30%;
    margin: auto;
}

body {
    background-color: #edeef0;
    font-family: "Helvetica Neue";
}

.post {
    text-align: center;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 10px;
}

.post img {
    height: 90%;
    width: 90%;

    position: relative;
}

.post-header {
    min-height: 70px;
    position: relative;

    overflow: hidden;
}

.post-content {
    display: block;
    position: relative;
    padding-bottom: 10px;
}

.post-text {
    margin-left: 10px;
    text-align: left;
}

.date {
    float: left;
    font-size: 12px;
    color: #939393;
}

.ava img{
    margin-left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 3px;
    display: inline-block;
    float: left;
}

.profile-name {
    padding-top: 10px;
    text-align: left;
}