<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News feed</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="posts">
    <div class="post" v-for="post in posts_list">
        <div class="post-header">
            <div class="ava">
                <img :src="post.ava">
            </div>
            <div class="profile-name"> [[ post.name ]]</div>
            <div class="date">
                [[ post.date ]]
            </div>
        </div>
        <div class="post-content">
            <div class="post-text">[[ post.text ]]</div>
            <img v-for="image_url in post.photos" :src="image_url"/>
        </div>
    </div>
    <script src="{{ url_for('static', filename='components.js') }}"></script>
</div>
</body>
</html>